# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/

# Test artifacts
.coverage
htmlcov/
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/

# MkDocs site output
site/
